body{
	
	font-family: 'Trebuchet MS', Helvetica, sans-serif !important;
	box-sizing: border-box;
	font-size: 12px;
	overflow-x:hidden;
	display: flex;
  flex-direction: column;
  height:100%;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  background: url(../images/apple-74.gif) no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
nav{
 position: relative;
 z-index: 3; 
  
}
.logo{
	position: relative;
 z-index: 3;  
	width: 100%;
	height: 80px;
	background: #fff;
}
.logo p{
	margin-left: 100px;
	margin-right: 10px;
	float:left;
}
.logo h1{
	float:none;

	
}
.menu{
	
	width:100%;
	height:50px;
	background: linear-gradient(to top, black, #39d36b);

}
.fixed {
	position:fixed !important;
	top:0 !important;
	
}
.menu ul{
	padding-top:5px;
	
	
}
.menu li{
	float:left;		 
	margin-right:80px;
	font-size:20px;
	
}

.menu li a{
	color:#fff;
	font-weight:700;
	text-decoration:none;
	transform:scale(1);
	transition: all 0.1s;
	display: inline-block;
}
.menu li .active{
color: #8bd357 !important;
}
	
.menu li a:visited{
	color:#fff;
}
.menu li a:hover{
	
	color:#8bd357;
}
.menu li a:active
{
	color:#fff;
	transform: scale(1.1);
}

.dropbtn {
  background-color: #39d36b;
  color: white;
  padding: 16px;
  font-size: 22px;
  border-radius: 8px;
  border: none;
  min-width: 200px;
  height:50px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

footer{
	height:50px;
	width:100%;
	background: linear-gradient(to bottom, black, #39d36b);
	text-align: center;
	color:#fff;
	margin-top:1500px;
	
	
}
.end h3{
	padding-top: 15px;
}
