body{
	
	font-family: new rail alphabet,sans-serif !important;
	box-sizing: border-box;
	font-size: 12px;
	overflow-x:hidden;
	display: flex;
  flex-direction: column;
  height:100%;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  background: url(../images/apple-74.gif) no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
nav{
 position: relative;
 z-index: 3; 
  
}
.logo{
  font-family: "FontAwesome" !important;
	position: relative;
 z-index: 3;  
	width: 100%;
	height: 80px;
	background: #fff;
}
.logo p{
	margin-left: 100px;
	margin-right: 10px;
	float:left;
}
.logo h1{
	float:none;

	
}
.photologo img{
    position: absolute;
  height:80px;
}

.menu{
	font-family: "FontAwesome" !important;
	width:100%;
	height:50px;
	background: linear-gradient(to top, black, #39d36b);

}
.fixed {
	position:fixed !important;
	top:0 !important;
	
}
.menu ul{
	padding-top:5px;
	
	
}
.menu li{
	float:left;		 
	margin-right:80px;
	font-size:20px;
	
}

.menu li a{
	color:#fff;
	font-weight:700;
	text-decoration:none;
	transform:scale(1);
	transition: all 0.1s;
	display: inline-block;
}
.menu li .active{
color: #8bd357 !important;
}
	
.menu li a:visited{
	color:#fff;
}
.menu li a:hover{
	
	color:#8bd357;
}
.menu li a:active
{
	color:#fff;
	transform: scale(1.1);
}

.submenu {
  position: absolute;
  top: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

}
.submenutwo{
  position: absolute;
  top:25%;
  left: 100%;
  z-index: 11;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
   background: linear-gradient(to bottom, black, #39d36b);

}

.submenu li{
	float:none !important;
    text-align: center;

    margin-right:30px !important;
}
.submenutwo li{
  float:none !important;
    text-align: center;
    margin-right:30px !important;
}

.submenu li a {
	position:initial;
  left:50%;
   border-bottom: 1px solid rgba(255,255,255,0.7);
  color: white;

}


.submenutwo li a {
  position:initial;
  left:50%;
   border-bottom: 1px solid rgba(255,255,255,0.7);
  color: white;
}

.menu .submenu{
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
 background: linear-gradient(to bottom, black, #39d36b);

}

.menu .submenutwo{
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
 background: linear-gradient(to bottom, black, #39d36b);

}

.menu ul li:hover .submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);

}
.menu ul li:hover .submenutwo{
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);

}

.menu .fa {
  font-family: "FontAwesome" !important;
  padding-left: 5px;
  color: white !important;
}


.dropbtn {
  background: linear-gradient(to top, black, #39d36b);
  color: white;
  font-weight: 900;
  font-size: 28px;
  letter-spacing:0.8px;
  border-radius: 8px;
  border: none;
  height:50px;
  text-decoration: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  list-style-type:none;
  position: absolute;
  background: linear-gradient(to bottom, black, #39d36b);
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.bg_fon{
  background-color: rgba(0,0,0,0.5);
   height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
   
}
.bg_fon1{
  background-color: rgba(0,0,0,0.6);
   height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
   
}
.bg_fon2{
  background-color: rgba(0,0,0,0.6);
   height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: -1;
   
}
#slides {
    position: relative;
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -2;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 
.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
 
.slide:nth-of-type(1) {
   background:url(../images/applegarden1.jpg) 0 0 / cover no-repeat;
   width:100%;
  height:100%;
  position:fixed;
  z-index: -3;
}
.slide:nth-of-type(2) {
    background:url(../images/strawberryart.jpeg) 0 0 / cover no-repeat;
    width:100%;
  height:100%;
  position:fixed;
  z-index: -3;
}
.slide:nth-of-type(3) {
    background:url(../images/applegardenflowers.jpg) 0 0 / cover no-repeat;
    width:100%;
  height:100%;
  position:fixed;
  z-index: -3;
}
.head_descript p{
  margin-top: 1%;
  margin-left: 10%;
  font-size:45px;
  color:white;

}
.text p{
	margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  text-indent: 30px;
  text-align: justify;
	color:white;
  margin-bottom: 50px;
	font-size: 30px;
}

.props p{
  margin-left: 5%;
  margin-right: 5%;

  text-align: center;
  color:white;
  font-size: 30px;
}
@media(max-width: 992px){

.menu li{
    margin-right: 40px;
  }
}
@media(max-width: 768px){

  .menu li{
    margin-right: 10px;
    }

  }
  .canvasfon{
background:linear-gradient(to top, black, #39d36b);
  }
.mapregular{
  
  margin-left:5%;
  width:90%;
}
footer{
	height:50px;
	width:100%;
	background: linear-gradient(to bottom, black, #39d36b);
	text-align: center;
	color:#fff;

	
	
}
.end h3{
	padding-top: 15px;
}
