
body{
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}
.preloader { 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2a3e51;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation:preloader-rotate 2s infinite linear;
}
.loader {
  overflow:hidden;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #65abf8;
  background: -moz-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -o-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -ms-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: linear-gradient(to right, #65abf8 10%, rgba(101,171,248, 0) 42%);
  position: relative;
  -webkit-animation:load 1.4s infinite linear;
  animation:load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #65abf8;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #2a3e51;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
	position:fixed;
	z-index: 5;
}
.logo{

	color: #fff;
	font-size:28px;
	line-height:60px;
	padding-left: 388px;
	float: left;
	animation:coming 2s ease;

	
}
.menu 
{
	padding-left:350px ;
	float:left;
	
}
.menu li 
{	
	float:left;		 
	line-height: 60px;
	color: #fff;
	margin-right:30px;
	font-size:16px;
	text-transform: uppercase;
	animation:topshift 0.4s forwards;
	opacity:0;
}
.menu li a{
	transition: all 0.1s;
	color:white;
	transform:scale(1);
	display: inline-block;
}
.menu li a:visited{
	color:white;
}
.menu li a:hover{
	color:#ff9000;
	
}
.menu li a:active{
	transform: scale(1.1);
}
.main{
	width:100%;
	height:calc(100%);
	background: url(../images/Парень.png) 90% 100%/auto 85% no-repeat , url(../images/фон.png) center/cover no-repeat;

}
.title__container{
	float:left;
	margin: 280px 0px 0px 320px;
	color: #2c384a;
	text-align: center;
	opacity:0;
	animation: titlemove 1s ease forwards;
	animation-delay: 2.4s;
 }
 .title__conteiner input{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .title__container input:hover{
 	background: #20498e;
 	color:white;
 }
 .title__container input:active{
 	transform: scale(1.1);
 }
 .title__container h1{
 	font-size:60px;
 	font-weight:bold;

 }
 @keyframes coming{
 	from{
 		opacity: 0;
 	}
 	to{
 		opacity: 1;
 	}
 }
 @keyframes topshift{
 	from{
 		opacity:0;
 		margin-top:-80px;
 	}
 	to{
 		opacity:1;
 		margin-top: 0px;
 	}
 }
 @keyframes titlemove{
 	from{
 		opacity:0;
 		margin-left:-450px;
 	}
 	to{
 		opacity:1;
 		margin-left: 320px;
 	}
 }
 .menu li:nth-child(2){
 	animation-delay:0.4s;
 }
 .menu li:nth-child(3){
 	animation-delay:0.8s;
 }
 .menu li:nth-child(4){
 	animation-delay:1.2s;
 }
 .menu li:nth-child(5){
 	animation-delay:1.6s;
 }
 .menu li:nth-child(6){
 	animation-delay:2.0s;
 }
 .title__container h4{
 	margin-top:40px;
 	font-size:22px;
 	color:#79818d;
 }
 .title__container input{
 	height:40px;
 	text-align:center;
 	border:2px solid #20498e;
 	background: none;
 	border-radius: 5px;
 	color: #6d7682;
 	font-size:13px;
 	padding: 0px 16px;
 	margin: 40px 14px 0px 14px;

 }

 hr{
 margin-left: 725px;

 }

 .one h3{
 	text-align: center;
 	font-size:26px;
 	color:#1a2f43;
 	margin-top:100px;
 	margin-bottom: 35px;
 	letter-spacing: -0.08em;

	font-weight: 600;
 }
 
.one img {
margin:60px 0px 0px 660px;
}
.one p {
	margin:22px;
	text-align:center;
	padding-left:400px;
	padding-right: 400px;
}
.icon {
background-image: url("../images/иконка.png");
padding-left : 20px;
padding-bottom : 10px;
background-repeat : no-repeat;

}
.btn{
	 transition:all 0.2s;
 	transform: scale(1);
}
.btn:hover{
background: #2a3e51;
 	color:white; 
 }
 .btn:active{
 	transform: scale(1.05);
 }
button{
	margin:0px 0px 0px 690px;
	border:2px solid #2a3e51;
	background:none;
	border-radius:5px;
	font-size:13px;
	color:#6f7180;
	padding:3px 8px;   
}
.skills{
	width:100%;
	height:100%;
	margin:100px 0px 0px 0px;
	background: url("../images/картинка фона что я умею.png") center/cover no-repeat;
}
.title__container2 h3{
	float:left;
	margin:100px 0px 35px 680px;  
	font-size:26px;
	color:#1a2e43;
	padding-right:666px;
	letter-spacing: -1.2px;
	font-weight: 600;
}
.imag{
	
	margin-left: 262px;
	
}
.title__container2 img{
	float:left;	
	margin:140px 170px 35px 50px;
}


.skil {  
	clear: both;
	margin-left:233px;
	color: #e87600;
	text-align: center;
	line-height: 25px;	
	font-size:14px;	
}
.title__container2 li{
	padding-right: 60px;
	float:left;
	text-align: center;
	

}
.title__container2 p{

	padding:0px 0px 5px 0px;
	line-height: 15px;
	height:100px;
	font-size:10px;
	color:#38485b;
	width:211px;
}
.projects h3{
	margin-top: 100px;
	margin-bottom: 35px;
	font-size:26px;
	text-align:center;
	color:#2f4154;
	clear:both;
	letter-spacing: -1.2px;
	font-weight: 600;
}
.projects p{
	text-align:center;
	margin-top:35px;
	margin-bottom: 30px;
	clear:both;
	color:#2f4154;
	

	
}


 .aboutproject{
 	margin-left: 175px;
 	line-height: 20px;
 	padding-right: 80px;
 	color:#2f4154;
 	padding-bottom: 116px;

 }
 
 .company{
 	float:left;
padding-right: 120px;
clear: both;
 }
 .company h3{
   color:#2f4154;
 }
 .company h2{

 	color:#2f4154;
 }
 .company p{
 	color:#2f4154;
 }
 .name p{
 	color:#2f4154;
 }
 .кнопка button{
 	float: none;
 	margin:20px 1100px 0px 0px;
 	width:185px;
 	height:42px;
 	font-size: 16px; 
 	background: #00b6af;
 	color:#fff;
 	border-color: #00b6af;

 }
 .visit{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .visit:hover{
 	background: #20498e;
 	border-color: #20498e;
 	color:white;
 }
 .visit:active{
 	transform: scale(1.03);
 }
 .рамка {
 
 	display: inline-block center;
 	margin-left: 400px;
 	width:750px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
 	border:2px solid #fff;	
 	margin-bottom: 35px;
 	
 }
 
 .рамка h2 {
 	margin-top: 35px;
 	margin-bottom: 55px;
 	text-align: center;
 font-size: 32px;
 letter-spacing: -1.2px;
 color:#102031;
 font-weight: 600;
 }
 .рамка h3{
 	text-align: left;
 	margin-left: 20px;
 	margin-bottom: 15px;
 	font-size: 22px;
    color:#102031;

 }
 .рамка form{
 	text-align: left;
 	margin-left: 20px;
 	

 }
 .рамка select{
 	width: 705px;
 	height:40px;
 	border: 2px solid #eeeeee;
 	background: #eeeeee;
 	margin-bottom: 30px;


 }
 .рамка h6{
 	
      border-top: 2px solid  #d2d2d2;
      margin-bottom: 15px;
      margin-left: 25px;
      margin-right: 25px;
 }

 .рамка h5{
 	

 	text-align: left;
 	padding-bottom: 10px;
 	margin-left: 20px;
 	font-weight: 600;
 	color:#102032;
 }
 .рамка button{

 	border: 2px solid #00b6af;
 	width: 170px;
 	height:42px;
 	margin:20px 10px 30px 270px;
 	background:#00b6af;
 	font-size: 16px;
 	color:#fff;
 }
 .registred{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .registred:hover{
 background: #20498e;
 	border-color: #20498e;
 	color:white;
 }
 .registred:active{
 	transform: scale(1.03);
 }
 .parallax {
 	background: url(../images/статистика1.png) center/cover no-repeat;
 	background-attachment: fixed;
 	height:499px;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 }
 .parallax 
 .stata{
 	height: 499px;
	
 }
 .заголовок5 h3{
 	color: #273b4e;
 	font-size:26px;
 	text-align: center;
    padding-top: 100px;
    margin-bottom: 35px;
    letter-spacing: -1.2px;
    font-weight: 600;

 }
 .statistic  img{
 	float:left;
 	margin-top:90px;
 	margin-left:255px;
    float:none;
    margin-bottom: 33px;

 		
 }
 
 
 .statistic li{
 	float:left;
 	text-align: center;
 	margin-left: 207px;
 	font-size: 30px;
 	color:#283b4e;
 	

 	
 }
 .statistic p{
 	margin-top: 28px;
 	font-size: 12px;
 	letter-spacing: -1px;
 	color:#283b4e;
 	font-weight: 600;
 }
 .statistic h4{

 	font-weight: 800;
 }
 .comments h3{
 	text-align: center;
 	font-size: 26px;
 	margin-top: 90px;
 	letter-spacing: -1.2px;
	font-weight: 600;
	color:#283b4e;
	margin-bottom: 35px;
 }
 .comments img{
 	margin-top:55px;
 	margin-left:710px;
 	margin-bottom: 35px; 
 }
 .comments p{
 	text-align: center;
 	padding-bottom:35px; 
 	color:#283b4e;
 }
.information{
	width: 100%;
	height:808px;
	background:  url(../images/contacts.png) center no-repeat;

}
.заголовок6 h3{
	
	text-align: center;
	color:#fff;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1.2px;
	padding-top: 80px;
	padding-bottom: 35px;
}
.заголовок6 p{
	margin-top: 35px;
	text-align:center;
	color:#fff;
	margin-bottom: 46px;
}

.personaldata{
	margin-left: 500px;
	
}
.class1{
	float:left;
	text-align: center;
	color:#fff;
	padding-right: 50px;
	padding-bottom: 40px;
	
}
.class2{
	float:left;
	text-align: center;
	color:#fff;
	padding-right: 50px;
}
.class3{
	float:left;
	text-align: center;
	color:#fff;
}
.massege{
	clear:both;
	text-align: center;
	color:#fff;
}
.form{
	margin-top:50px;
	padding-bottom: 15px;
	text-align: center;
	box-sizing: border-box;
}
.form input{	
	width:350px;
	height:35px;
	padding-left: 10px; 
	color: #5d5d5e;
}
.form form{
	
}
.electronmessage{
	text-align: center;
}
textarea{
	resize: none;
	width: 700px;
	height: 95px;
	padding-left: 5px;
	padding-top:5px;
	
}
.send button{
	margin-top: 30px;
	margin-left: 696px;
	border: 2px solid #fff;
 	width: 125px;
 	height:40px;
 	font-size: 16px;
 	color:#fff;
 	
	
}
.transfer{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .transfer:hover{
 	background: #eb7800;
 	border-color: #eb7800;
 	color:white;
 }
 .transfer:active{
 	transform: scale(1.1);
 }

footer{
	width: 100%;
	height: 60px;
	background: #2c3e51;
}
.end p {
	text-align:center;
	color:#fff;
	padding-top: 25px;

}