
body{
	font-family: Arial, sans-serif !important ;
	box-sizing: border-box;
}
.preloader { 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2a3e51;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation:preloader-rotate 2s infinite linear;
}
.loader {
  overflow:hidden;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #65abf8;
  background: -moz-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -o-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -ms-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: linear-gradient(to right, #65abf8 10%, rgba(101,171,248, 0) 42%);
  position: relative;
  -webkit-animation:load 1.4s infinite linear;
  animation:load 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #65abf8;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #2a3e51;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

nav{
    width: 100%;
	height: 60px;
	background: #344051;
	position:fixed;
	z-index: 10;
}
.logo{

	color: #fff;
	font-size:24px;
	line-height:60px;
	float: left;
	animation:coming 2s ease;

	
}
.menu 
{
	float:left;

	
}
.menu li 
{	
	float:left;		 
	line-height: 60px;
	color: #fff;
	margin-right:30px;
	font-size:14px;
	text-transform: uppercase;
	animation:topshift 0.4s forwards;
	opacity:0;
	

}
.white-btn:visited{
	color:white;
}  
.menu li a{
	transition: all 0.1s;
	color:white;
	transform:scale(1);
	display: inline-block;
	text-decoration: none;
}
.menu li a:visited{
	color:white;
}
.menu li a:hover{
	color:#ff9000;
	
}
.menu li a:active{
	transform: scale(1.1);
}
.main{
	width:calc(100%-2%);
	height:calc(100%);
	background: url(../images/Парень.png) 90% 100%/auto 85% no-repeat , url(../images/фон.png) center/cover no-repeat;

}
.title__container{
	float:left;
	width:100%;
	color: #2c384a;
	text-align: center;

	opacity:0;
	animation: titlemove 1s ease forwards;
	animation-delay: 2.4s;
 }
 .title__conteiner input{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .title__container input:hover{
 	background: #20498e;
 	color:white;
 }
 .title__container input:active{
 	transform: scale(1.1);
 }
 .title__container h1{
 	font-size:72px;
 	line-height: 1;
 	font-weight:600;

 }
 @keyframes coming{
 	from{
 		opacity: 0;
 	}
 	to{
 		opacity: 1;
 	}
 }
 @keyframes topshift{
 	from{
 		opacity:0;
 		margin-top:-80px;
 	}
 	to{
 		opacity:1;
 		margin-top: 0px;
 	}
 }
 @keyframes titlemove{
 	from{
 		opacity:0;
 		margin-left:-600px;
 	}
 	to{
 		opacity:1;
 	}
 }
 @media(max-width: 991px ){
 	.title__container, .title__container h4, .title__container h1, .title__container input{
 		color:white !important;
 		position:relative;
 		z-index: 3;
 	}
 	.title__container input{
 		border: 2px solid #fff !important; 
 	}
 	.title__container{
 		animation-delay: 1.5s;
 	}
 	.main{
 		position:relative;
 	}
 	.main:after{
 		content:"";
 		bottom:0;
 		top:0;
 		left:0;
 		right:0;
 		position:absolute;
 		background: rgba(0,0,0,0.4);
 		z-index: 1;
 	}
 }
 .menu li:nth-child(2){
 	animation-delay:0.4s;
 }
 .menu li:nth-child(3){
 	animation-delay:0.8s;
 }
 .menu li:nth-child(4){
 	animation-delay:1.2s;
 }
 .menu li:nth-child(5){
 	animation-delay:1.6s;
 }
 .menu li:nth-child(6){
 	animation-delay:2.0s;
 }
 .title__container h4{
 	margin-top:40px;
 	font-size:22px;
 	color:#79818d;
 }
 .title__container input{
 	height:40px;
 	text-align:center;
 	border:2px solid #20498e;
 	background: none;
 	border-radius: 5px;
 	color: #6d7682;
 	font-size:13px;
 	padding: 0px 16px;
 	margin: 40px 14px 0px 14px;

 }

 

 .one h3{
 	text-align: center;
 	font-size:26px;
 	color:#1a2f43;
 	margin-top:100px;
 	margin-bottom: 35px;
 	letter-spacing: -0.08em;

	font-weight: 600;
 }
 

 
.one img {
margin:60px 0px 0px 43.2%;
}
.one p {
	margin:22px;
	text-align:center;
	padding-left:400px;
	padding-right: 400px;
	line-height: 0.9;
}
.icon {
background-image: url("../images/иконка.png");
padding-left : 20px;
padding-bottom : 10px;
background-repeat : no-repeat;

}
.btn{
	 transition:all 0.2s !important;
 	transform: scale(1) !important;
}
.btn:hover{
background: #2a3e51 !important;
 	color:white !important; 
 }
 .btn:active{
 	transform: scale(1.05) !important;
 }
.кнопка0 button{
	width:100%;
	border:3px solid #2a3e51 !important;
	background:none !important;
	border-radius:5px !important;
	font-size:15px !important;
	color:#6f7180 !important;
	padding:3px 8px !important; 
	margin-top:40px;  
}
.skills{
	width:100%;
	height:100%;
	margin:100px 0px 0px 0px;
	background: url("../images/картинка фона что я умею.png") center/cover no-repeat;
		
}
.revers{
	flex-wrap: wrap-reverse;
}
.title__container2 h3{
	margin-top: 100px;
	text-align:center;
	font-size:26px;
	color:#1a2e43;
	letter-spacing: -1.2px;
	font-weight: 600;
	margin-bottom:25px;
	
	
}
 hr {
    border: none; 
    background-color: #eb7800 !important; 
    height: 3px !important;
    width:100%; 
    margin-bottom: 60px !important;
    opacity:1 !important;
   }
 
 
 

 
 .imag img{

  width:100%;
  height:100%;
  margin-bottom: 20px;

  
 }




.title__container2 img{
	float:left;	
	width:55px;
	height:45px;
	margin:140px 0px 35px 0px;
	margin-left: 80px;
	margin-right: 79px;



}

@media(max-width:1400px){
	.title__container2 img{

		margin-right: 75px;
	}
}
@media(max-width: 1200px){
	.title__container2 img{
		margin-right: 45px;
		margin-left:65px;
	}
}
@media(max-width:993px){
    .title__container2 img{
    	margin-top:60px;
    	margin-left:135px;
    	margin-right: 55px;

    }
}


.skil {  
	clear: both;
	color: #e87600;
	margin-left: 100px;
	text-align: center;
	line-height: 25px;	
	font-size:14px;
		
}
@media(max-width: 1400px){
	.skil{
     margin-left: -10px;

	}

}
@media(max-width:1200px){
	.skil{
		margin-left: 10px;
	}
}
@media(max-width: 993px){
	.skil{
		margin-left: 47px;


	}

}

.skil h4{
	font-weight: 600;
	font-size:14px;
}
.title__container2 li{

	padding-right: 60px;
	float:left;
	
	

}
.title__container2 p{

	padding:0px 0px 5px 0px;
	line-height: 15px;
	height:100px;
	font-size:11px;
	color:#38485b !important;
	width:211px;
}
@media(max-width: 1400px){
.title__container2 p{
	width:208px;

	}
}
@media(max-width:1200px){
	.title__container2 p{
		width:150px;
		margin-right: 10px;
	}
}
@media(max-width: 993px){
	.title__container2 p{
		width:230px;

	}
}
.projects h3{
	margin-top: 100px;
	margin-bottom: 25px;
	font-size:26px;
	text-align:center;
	color:#2f4154;
	clear:both;
	letter-spacing: -1.2px;
	font-weight: 600;
}

.projects p{
	text-align:center;
	margin-bottom: 30px;
	font-size: 15px;
	clear:both;
	color:#2f4154 !important;
	

	
}
.block4 img{
	width:100%;
}


 
 
 .company{
 	float:left;
 	margin-top:10px;
padding-right: 120px;

 }
 .company h3{
 	font-size:14px;
 	line-height: 0.8;
   color:#2f4154;
 }
 .name h2{
 	margin-top: 10px;
 	line-height:0.8;
    font-size:16px;
 	color:#2f4154;
 }
 .company p{
 	line-height: 0.8;
 	font-size: 14px;
 	color:#2f4154;
 }
 .name p{
 	color:#2f4154;
 }
 .кнопка button{
 	float: none;
 	margin-bottom: 165px;
 	width:185px;
 	height:42px;
 	font-size: 16px !important; 
 	background: #00b6af !important;
 	color:#fff !important;
 	border-color: #00b6af !important;
 	border-radius: 5px !important;

 }
 .visit{
 	transition:all 0.2s !important;
 	transform: scale(1) !important;
 }
 .visit:hover{
 	background: #20498e !important;
 	border-color: #20498e !important;
 	color:white !important;
 }
 .visit:active{
 	transform: scale(1.03) !important;
 }
 .рамка {
 
 	
 	
 	width:100%;
 	height:760px;
 	box-shadow: 0 0 10px rgba(0,0,0,0.5);
 	border:2px solid #fff;	
 	margin-bottom: 35px;
 	
 }

 
 .рамка h2 {
 	margin-top: 35px;
 	margin-bottom: 55px;
 	text-align: center;
 font-size: 40px;
 letter-spacing: -1.2px;
 color:#102031;
 font-weight: 700;
 }
 .рамка h3{
 	text-align: left;
 	margin-left: 20px;
 	margin-bottom: 15px;
 	font-size: 22px;
 	font-weight: 600;
    color:#102031;

 }
 .рамка form{
 	text-align: left;
 	margin-left: 20px;
 	font-size: 16px;
 	

 }
 .рамка select{
 	width: 99%;
 	height:58px;
 	border: 2px solid #eeeeee;
 	background: #eeeeee;
 	margin-bottom: 30px;


 }
 .рамка h6{
 	
      border-top: 2px solid  #d2d2d2;
      margin-bottom: 15px;
      margin-left: 25px;
      margin-right: 25px;
 }

 .рамка h5{
 	

 	text-align: left;
 	padding-bottom: 10px;
 	margin-left: 20px;
 	font-size:20px;
 	font-weight: 600;
 	color:#102032;
 }
 .рамка button{

 	border: 2px solid #00b6af;
 	width: 195px;
 	height:45px;
 	margin:20px 10px 30px 420px;
 	background:#00b6af;
 	font-size: 18px;
 	color:#fff;
 	border-radius: 5px !important;
 }
 @media(max-width: 1400px){
 	.рамка button{
     margin-left: 350px;
 	}
 }
 @media(max-width: 992px){
 	.рамка button{
 		margin-left:230px;
 	}
 }
 .registred{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .registred:hover{
 background: #20498e;
 	border-color: #20498e;
 	color:white;
 }
 .registred:active{
 	transform: scale(1.03);
 }
 .parallax-content{
 	height:499px;
 }
 .parallax {
 	background: url(../images/статистика1.png) center/cover no-repeat;
 	background-attachment: fixed;
 	height:499px;
 	width:100%;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 }
 
 .заголовок5 h3{
 	color: #273b4e;
 	font-size:26px;
 	text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
    letter-spacing: -1.2px;
    font-weight: 600;

 }
.statistic img{
	width:57px;
	height:47px;

}
.statistic1{
	float:left;
	text-align: center;
	color:#283c4f;
	padding-right: 152px;
	margin-bottom: 33px;
	padding-bottom: 40px;	
}
 	
 .statistic1 p{
 	margin-top: 15px;
 	font-size: 14px;
 	letter-spacing: -1px;
 	color:#283c4f;
 	font-weight: 600;
 }
 .statistic1 h4{
 	margin-top: 20px;
    font-size:30px;
 	font-weight: 800;
 }
 .statistic2{
	float:left;
	text-align: center;
	color:#283c4f;
	padding-right: 152px;
	margin-bottom: 33px;
	padding-bottom: 40px;	
}
 	
 .statistic2 p{
 	margin-top: 15px;
 	font-size: 14px;
 	letter-spacing: -1px;
 	color:#283c4f;
 	font-weight: 600;
 }
 .statistic2 h4{
 	margin-top: 20px;
    font-size:30px;
 	font-weight: 800;
 }
 .statistic3{
	float:left;
	text-align: center;
	color:#283c4f;
	padding-right: 152px;
	margin-bottom: 33px;
	padding-bottom: 40px;	
}
@media(max-width:1400px){
	.statistic1{
 			padding-right: 100px;
 		}
 		.statistic2{
 			padding-right: 100px;
 		}
 		.statistic3{
 			padding-right: 100px;
 		}
}
 	@media(max-width:1200px){
 		.statistic1{
 			padding-right: 50px;
 		}
 		.statistic2{
 			padding-right: 50px;
 		}
 		.statistic3{
 			padding-right: 50px;
 		}
 	}
 	@media(max-width:992px){
 		.statistic1{
 			padding-right: 40px;
 		}
 		.statistic2{
 			padding-right: 40px;
 		}
 		.statistic3{
 			padding-right: 40px;
 		}
 	}
 	
 .statistic3 p{
 	margin-top: 15px;
 	font-size: 14px;
 	letter-spacing: -1px;
 	color:#283c4f;
 	font-weight: 600;
 }
 .statistic3 h4{
 	margin-top: 20px;
    font-size:30px;
 	font-weight: 800;
 }
 .statistic4{
	float:left;
	text-align: center;
	color:#283c4f;
	margin-bottom: 33px;
	padding-bottom: 40px;	
}
 	
 .statistic4 p{
 	margin-top: 15px;
 	font-size: 14px;
 	letter-spacing: -1px;
 	color:#283c4f;
 	font-weight: 600;
 }
 .statistic4 h4{
 	margin-top: 20px;
    font-size:30px;
 	font-weight: 800;
 }
 .comments h3{
 	text-align: center;
 	font-size: 26px;
 	margin-top: 90px;
 	letter-spacing: -1.2px;
	font-weight: 600;
	color:#283b4e;
	margin-bottom: 35px;
 }
 .comments img{
 width:100%;	
	margin-bottom: 35px; 
 }
 .comments p{
 	text-align: center;
 	padding-bottom:35px; 
 	color:#283b4e;
 }
.information{
	width: 100%;
	height:850px;
	background:  url(../images/contacts.png) center no-repeat;

}
.заголовок6 h3{
	
	text-align: center;
	color:#fff;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -1.2px;
	padding-top: 80px;
	padding-bottom: 10px;
}
.заголовок6 p{
	text-align:center;
	color:#fff;
	margin-bottom: 46px;
}

.personaldata{	
	margin-left: 50px;
}
@media(max-width: 1400px){
.personaldata{
	margin-left:0px;
}
@media(max-width: 1200px){
	.personaldata{
		margin-left:10px;
	}
}
@media(max-width: 992px){
	.personaldata{
		margin-left:0px;
	}
}
}
.class1{
	float:left;
	text-align: center;
	color:#fff;
	padding-right: 135px;
	padding-bottom: 40px;	
}
.class2{
	float:left;
	text-align: center;
	color:#fff;
	padding-right: 135px;
}
@media(max-width: 992px){
	.class1{
		padding-right: 105px;
	}
	.class2{
		padding-right: 105px;
	}
}
.class3{
	float:left;
	text-align: center;
	color:#fff;
}
.massege{
	clear:both;
	text-align: center;
	color:#fff;
}
.form{
	margin-top:50px;
	padding-bottom: 15px;
	text-align: center;
	box-sizing: border-box;
}
.form input{	
	width:350px;
	height:35px;
	padding-left: 10px; 
	color: #5d5d5e;
}

.electronmessage{
	text-align: center;
}
textarea{
	resize: none;
	width: 704px;
	height: 95px;
	padding-left: 5px;
	padding-top:5px;
	
}
@media(max-width: 992px){
	.form input{
		width:300px;
	}
	textarea{
		width:604px;
	}
}
.send button{
	margin-top: 30px;
	margin-left: 35px;
	border: 2px solid #fff;
 	width: 125px;
 	height:40px;
 	font-size: 16px;
 	color:#fff;
 	border-radius: 5px;
 	background: none;	
}
@media(max-width: 1400px){
	.send button{
		margin-left: 20px;
	}
}
@media(max-width: 1200px){
	.send button{
		margin-left: 5px;
	}
}
@media(max-width: 992px){
	.send button{
		margin-left: 20px;
	}
}
.transfer{
 	transition:all 0.2s;
 	transform: scale(1);
 }
 .transfer:hover{
 	background: #eb7800;
 	border-color: #eb7800;
 	color:white;
 }
 .transfer:active{
 	transform: scale(1.1);
 }

footer{
	width: 100%;
	height: 60px;
	background: #2c3e51;
}
.end p {
	text-align:center;
	color:#fff;
	padding-top: 25px;

}
@media only screen and (max-width: 1300px)
{
	
}